<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>somethingdigital.onmicrosoft.com</ADDomain>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ilta2014demo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-am2-009.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ilta2014demo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ilta2014demo</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False" xmlns="">
          <Destination Path="Data Source=tcp:ud6ws79awd.database.windows.net,1433;Initial Catalog=ilta2014demo_db;User ID=iltaadmin@ud6ws79awd;Password=gl3nnAdmin" Name="Data Source=tcp:ud6ws79awd.database.windows.net,1433;Initial Catalog=ilta2014demo_db;User Id=iltaadmin@ud6ws79awd;Password=gl3nnAdmin" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DemoWebApp.Models.TenantDbContext, DemoWebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://somethingdigital.onmicrosoft.com/WebApp-ilta2014demo.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADClientAPPID>cafcaa56-6d25-4195-a0ee-1630d6cae937</ADClientAPPID>
    <ADClientPassword />
    <ADReplyUrl>https://ilta2014demo.azurewebsites.net/</ADReplyUrl>
    <ADIssuer>https://login.windows.net/somethingdigital.onmicrosoft.com/wsfed</ADIssuer>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ud6ws79awd.database.windows.net,1433;Initial Catalog=ilta2014demo_db;User Id=iltaadmin@ud6ws79awd;Password=gl3nnAdmin</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>