@model HomeViewModel
@using DemoWebApp.Models
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Content/Picture1.png" />
    <p class="lead">This site was built with ASP.NET MVC, Windows Azure and Office 365!</p>
    <p><a href="http://dev.office.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2><a href="https://somethingdigital.sharepoint.com/sites/spdev/_layouts/15/start.aspx#/Lists/ILTA%20Announcements" target="_blank">Announcements</a></h2>
        <ul>
            @foreach (Announcement item in Model.Announcements)
            {
                <li>@item.Title</li>
            }
        </ul>

        <p><a class="btn btn-default" href="https://somethingdigital.sharepoint.com/sites/spdev/_layouts/15/start.aspx#/Lists/ILTA%20Announcements" target="_blank">Go to the List &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><a href="https://somethingdigital.sharepoint.com/sites/spdev/_layouts/15/start.aspx#/Shared%20Documents/Forms/AllItems.aspx" target="_blank">Documents</a></h2>
        <ul>
            @foreach (Document item in Model.Documents)
            {
                <li><a href="@item.Url" target="_blank" >@item.Title</a></li>
            }
        </ul>
        <p><a class="btn btn-default" href="https://somethingdigital.sharepoint.com/sites/spdev/_layouts/15/start.aspx#/Shared%20Documents/Forms/AllItems.aspx" target="_blank">Go to the Library &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Azure Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com/en-us/" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>